<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eliminar Libro</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <!-- Se crea nav de la App -->
    <div class="topnav">
      <a class="active" href="">Eliminar Libros</a>
      <a href="/">Inicio</a>
      <a href="/buscar">Buscar</a>
      <a href="/actualizar">Actualizar</a>
      <a href="/eliminar">Eliminar</a>
    </div>
    <!-- Se crea seccion con imagen -->
    <section class="seccionpage-img1"></section>

    <div class="container-up">
      <div class="container">
        <div class="row col-card">
          <div class="col-form cont-forms">
            <div class="container-form">
              <form method="post">
                <label for="titulo">Título:</label>
                <input
                  class="line-input"
                  type="text"
                  id="titulo"
                  name="titulo"
                  required
                /><br />
                <button class="btn-form" type="submit">Eliminar</button>
              </form>
            </div>
          </div>
          <div class="col-form cont-text">
            <div class="container">
              <h1>Elimina tus libros</h1>
              <br />
              <p>
                "Libera espacio para nuevas historias. Elimina tus libros con
                facilidad y haz espacio para nuevos descubrimientos literarios.
                ¡Deja que tus estantes digitales respiren y abre camino para
                nuevas aventuras!"
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section></section>
    <br />
    <br />
    <footer>
      <p>
        &copy; 2024 Proyecto Diplomado | Todos los derechos reservados |
        Sebastian y Jhojan.
      </p>
    </footer>
  </body>
</html>
